<div class='well'>
  <%= simple_form_for @option, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input @option.active_attr, bizarroids_settings_input_options %>
    <%= f.submit bizarroids_t(:save), class: 'btn btn-primary' %>
    <%= link_to bizarroids_t(:cancel), Bizarroids::Settings::Option, class: 'btn btn-link' %>
  <% end %>
</div>
