<!DOCTYPE html>
<html>
<head>
  <title>Bizarroids</title>
  <%= stylesheet_link_tag    "bizarroids/application", media: "all" %>
  <%= javascript_include_tag "bizarroids/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
